/*updatePartnerFotter*/
#fotterUpdate{padding: 0;}
#fotterP{margin: 0;}
#fotterUpdateWX{padding: 0;max-width: 1200px;  min-width: 1200px;}
#fotterUpdateP{padding: 0;}
#fotterH3{font-size: 1.17em;margin: 0;}
#fotterH31{margin: 0}
#fotterUpdateP #fotterP2{padding: inherit;padding-top: 20px;}