/* CSS Document */
.wrap{ margin:0 auto; width:1170px;}
.header{ position:relative; height:74px;}
.header .mzjy{ float:right; padding-top:20px; height:20px; margin-top:20px; width:130px; background:url(img/weekImages/mzjy.png) no-repeat top right; color:#B1B1B1; font-size:12px; text-align:right;}
.content1{ margin-top:5px;}
.content1 dl{ padding:15px 5px; border-bottom:1px solid #e4e4e4;}
.content1 dt span{ display:inline-block; color:#fff; font-size:12px; padding:5px; background:#aa2123; border-radius:5px; vertical-align:top; margin-right:10px;}
.content1 dt a{ font-size:18px; color:#333; line-height:1.8em;}
/*.content1 dt a:hover{ color:#aa2123;}*/
.content1 dd{ margin-top:5px; font-size:15px; color:#666; line-height:1.6em;}